{% extends 'base.html' %}
{% load static %}
{% block title %}게시글 작성하기{% endblock title %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block content %}
<div class="container mt-5">
<form method="post" class="form">
    {% csrf_token %}
  
    {% bootstrap_form review_form %}
    <div style="display: flex; justify-content: end; ">
        {% bootstrap_button button_type="submit" content="OK" button_class="btn-outline-dark" %}
        <div style="padding-left:1rem;">
            {% bootstrap_button button_type="reset" content="Cancel" button_class="btn-outline-dark"%}
        </div>
    </div>    
  </form>
</div>
{% endblock content %}