{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="container my-5">
    <form>
      <div class="d-flex justify-content-between">
        <div class="">
          <label class="form-label fs-1">영화 제목</label>
        </div>
        <div class="d-flex" style="align-items: center; color: gray;">
          <p style="margin:0;">생성 날짜 : {{review.created_at }} | 수정 날짜 : {{ review.updated_at }}</p>
        </div>
      </div>
      <p class="fs-3">{{review.movie_name}}</p>

      <hr class="mt-5 mb-4">

      <div class="mb-3">
        <label class="form-label fs-1">리뷰 내용</label>
        <h1 class="form-control">
          <p style="font-weight: bold; margin: 0;">
            {{review.title}}<br> 
          </p>
          {{review.content}}
        </h1>
      </div>
    </form>

    <div class="my-4 d-flex justify-content-end">
      <button class="btn btn-outline-success button-link mx-1"><a href="{% url 'movies:update' review.pk %}" style="text-decoration:none; color:black;">수정</a></button>
      <button class="btn btn-outline-danger button-link mx-1"><a href="{% url 'movies:delete' review.pk %}" style="text-decoration:none; color:black;">삭제</a></button>
      <button class="btn btn-outline-secondary button-link mx-1"><a href="{% url 'movies:index' %}" style="text-decoration:none; color:black;">목록 페이지로</a></button>
    </div>
  </div>
{% endblock content %}