{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'movies/css/index.css' %}">
{% endblock css %}


{% block content%}
<div>
  <img src="{% static 'movies/images/review.png' %}" class="w-100">
</div>

<div style="display:flex; justify-content: center; align-items:center; flex-direction:column;">
<div class='title' style="display:flex; justify-content: center;">
<h2 style="background-color:rgb(255, 255, 202);">&nbsp 최근 리뷰보기 &nbsp</h2>
</div>
<div class="d-flex" style="justify-content:center; flex-wrap:wrap;">
{% for review in reviews %}
<div class="card">
  <h5 class="card-header" style="font-weight:bold;">영화제목 [{{review.movie_name}}]</h5>
  <div class="card-body">
    <h5 class="card-title">{{review.title}}</h5>
    <p class="card-text">{{review.content}}</p>
    <a href="{% url 'movies:detail' review.pk %}" class="btn btn-outline-dark">더보기</a>
  </div>
</div>

{% endfor %}
</div>
{% endblock content%}


