{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'movies/css/index.css' %}">
{% endblock css %}


{% block content%}
<div>
  <img src="{% static 'movies/images/review.png' %}" class="w-100">
</div>

<div style="display:flex; justify-content: center; align-items:center; flex-direction:column;">
<div class='title' style="display:flex; justify-content: center;">
<h2> 최근 리뷰보기 </h2>
</div>
<div class="d-flex" style="justify-content:center; flex-wrap:wrap;">
{% for review in reviews %}
<div class="card">
  <h5 class="card-header">{{review.movie_name}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{review.title}}</h5>
    <p class="card-text">{{review.content}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endfor %}
</div>
{% endblock content%}


